<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="LogPath" value="C:\This is my folder\LogDirecotry\"/>
    <add key="ConnectionString" value="Data Source=computer\mysqlinstance;Initial Catalog=MotocyclesGarage;User ID=sa;Password=f,kznjuhfa"/>
  </appSettings>
</configuration>